*{
  box-sizing: border-box;
}

/* Form Container */

.app-container{
  display: flex;
  justify-content: center;
}

.form-container {
  max-width: 650px;
  border: 1px solid black;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


/* Education Container */

.education-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


